body {
    margin: 0;
    background-color:  rgb(160, 187, 238);
}

.menu-container {
    background-color: rgb(13, 67, 129);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

.menu-item {
    background-color: rgb(13, 67, 129);
    color: white;
    border: none;
    height: 70%;
    margin: 5px;
    font-size: 24px;
}

.title {
    font-size: 50px;
    margin-right: auto;
    margin-left: 20px;
    font-weight: bold;
}

.cart-btn {
    width: 200px;
}

.login-btn {
    width: 160px;
}

.profile-btn {
    width: 160px;
    visibility: visible;
}

.items-btn {
    width: 160px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.image {
    background-color: white;
    float: left;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;    
    margin-top: 10px;
    margin-left: 80px;
    width: 150px;
    height: 30px;
}

table {
    margin-top: 10px;
}

#user-table {
    margin-left: 5px;
}
