  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(201, 214, 238);
  }

  .container {
    width: 400px;
    height: 650px;
    background-color: rgb(160, 187, 238);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 40px;
    font-weight: bold;
    color: white;
  }

  form label {
    font-size: 20px;
  }

  input[type=submit] {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    width: 250px;
    height: 30px;
  }

  .flex {
    display: flex;
    flex-direction: column; 
  }